:root {
    --fill-color: #000000;
    --font-color: #1DCD9F;
    --accent-color: #169976;
    --border-color:#222222;
}
*{
    margin:auto;
}
body:not(header) {
    margin:auto;
    width: 100vw;
    color:var(--font-color);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('/build/assets/Forever\ Lost.jpg');
    align-content: center;
}

.subtotal-container{
    display:flex;
    margin:0;
    justify-content: center;
    padding:20px;
    
}
.subtotal-container input {
    font-size: 24px;
    height:3rem;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Hover effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    field-sizing: content;
}
.subtotal-container input:hover {
    border: inset 3px var(--border-color);
    transform: translateY(-5px); /* Slight upward movement */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}
.percent-buttons {
    display:flex;
    margin:auto;
    justify-content: center;
    width:50%;
}
.percent-buttons button {
    width:8rem;
    height:2rem;
    font-size:20px;
}
.button-holder {
    padding:10px;
}
.tip-info-container {
    color:var(--font-color);
    display:flex;
    padding: 7.5px;
    border: inset 4px var(--border-color);
    font-weight: bolder;
    background-color:rgba(17, 17, 17, 0.4);
    height:1.2rem;
    font-size: 12px;
}

.custom-tip-container {
    margin:auto;
    display: flex;
    width:min-content;
    height:auto;
    padding:10px;
    justify-content: center;
}
.custom-tip-container button {
    width:min-content;
    height: 2rem;
    white-space: nowrap;
    font-size: 18px;
}

input {
    outline:none;
    background-color:rgba(17, 17, 17, 0.4);
    padding: 0 15px;
    color:var(--font-color)
}
input::placeholder {
    color:var(--font-color)
}
button {
    color:var(--font-color);
    background-color:var(--fill-color);
    border: 3px groove var(--accent-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Hover effect */
    transition: transform 0.6s ease, box-shadow 0.3s ease; /* Smooth transition */
    
}
button:hover {
    border: inset 3px var(--border-color);
    transform: translateY(-5px); /* Slight upward movement */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

#custom-per-input, #tip-amount, #total {
    display:none;
}

#customTipAmou {
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Hover effect */
    transition: transform 0.6s ease, box-shadow 0.3s ease; /* Smooth transition */
    field-sizing: content;
    width:min-content;
    height:1.7rem;
}
.calc-wrapper {
    background-color:rgba(17, 17, 17, 0.07);
    min-width: fit-content;
    max-width: max-content;
    margin: 15px auto;
    padding:25px;
    border-radius: 11px;
    border: inset 4px var(--border-color);
}

#clear-buttons {
    display: flex;
    margin:auto;
    padding-top:10px;
}
#clear-tip, #clear-calc {
    height: 2rem;
    white-space: nowrap;
    font-size: 18px;
}
.calc-header h1 {
    text-align: center;
    padding:15px;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
header {
    font-style: italic;
    opacity: 25%;
    padding:5px;
    color:snow;
    border: 4px inset var(--border-color) 
}